* {
  margin: 0%; 
  padding: 0%; 
  box-sizing: border-box; 
}

body {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-right: 30%;
  padding-bottom: 5%;
  font-family: "Playwrite FR Trad", cursive;
  letter-spacing: 0.5px; 
}

p, h2 {
  font-size: 0.7rem; 
  font-weight: 400; 
  color: #f7f7f7; 
}

p {
  color: #d7dcdf;
}

.contact-list-app {
  width: 100%;
  height: 100%;  
  margin: 0%; 
  border-radius: 3px; 
}

ul .fa-solid {
  color: #f7f7f7; 
  margin-right: px;  
  
}