button {
  padding: 7px 17px; 
  border-radius: 3px; 
  border: none; 
  outline: none; 
  font-family: "Playwrite FR Trad", cursive;
  font-size: 0.7rem; 
  font-weight: 500; 
  background-color: #e7e4e4;
}