.horizontal-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.search-box input[type=text] {
  width: 300%; 
  height: 30px; 
  margin: 5px; 
  border: 1px solid #201e1e; 
  outline: none; 
  border-radius: 10px; 
  font-family: "Playwrite FR Trad", cursive;
  font-size: 0.7rem; 
  letter-spacing: 0.3px; 
}